body {
  /* background: LightCyan; */
  background: #32374d;
}

a {
color: #9b9b9b;
}

p {
  color: rgb(127, 155, 187);
  }
h1,
h2 {
color: #282f33;
font-weight: 600;
font-size: 2.5em;
}

a:hover {
color:rgb(211, 208, 208);
}

.head {
font-family: 'Oxygen', sans-serif;
padding: 2em;
}

.projects {
padding: 2em;
padding-bottom: 4em;
}

.icp,
.michaelPortfolio,
.telos {
border: solid;
border-color: #282f33;
border-width: 10px;
border-radius: 25px;
padding: 1em;
}

#divMe {
background: #282f33;
width: 100%;
padding: 90px;
}

#me {
position: relative;
width: 300px;
height: 300px;
border: 1px solid #222;
border-radius: 50%;
margin: 0 auto;
box-shadow: 0 0 20px #ccc;
}

.ml4 {
  position: relative;
  font-weight: 900;
  font-size: 4.5em;
}

.ml4 .letters {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0.3em;
  right: 0;
  opacity: 0; 
  color: rgb(81, 95, 110);
}

img {
border-radius: 25px;
}

.social {
padding: 20px;
font-size: 30px;
width: 30px;
text-align: center;
text-decoration: none;
border-radius: 50%;
}

.social:hover {
opacity: 0.7;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  color: white;
  text-align: center;
}

